# OpenAI API Credentials
OPENAI_API_KEY=your_openai_api_key_here

# Directory for embedding caches
# EMB_CACHE_DIR=./emb_cache

# Directory for completion caches
# COMPLETION_CACHE_DIR=./completion_cache
